
/* MyMoneyHelp */

/****************************GENERAL SETTINGS***********************************/

* {
  box-sizing: border-box;
  font-size: 1em;
  color: #373737;
}

/* Colors */

/*Dark BLue*/
/*{
  color: #0a749c;
}*/

/*Blue*/
/*{
  color: #0092c9;
}*/

/* Blue Grey*/
/*{
  color: #ecf0f4;
}*/

/* Green */
/*{
  color: #2da555;
}*/

/* /Colors */

/* Layout */

.flex {
  display: flex;
}

.wrapper {
  margin: 0 1%;
}

/* /Layout */

/*************************** /GENERAL SETTINGS *********************************/


/******************************** HEADER  **************************************/

/******************************* /HEADER  **************************************/



/******************************** SLIDER  **************************************/

/******************************* /SLIDER  **************************************/



/******************************** FOOTER  **************************************/

/******************************* /FOOTER  **************************************/


/*******************************************************************************/
/*******************************************************************************/
/******************************* HOMEPAGE **************************************/
/*******************************************************************************/
/*******************************************************************************/


/*                              END HOMEPAGE                                   */

/*******************************************************************************/
/*******************************************************************************/
/******************************* PROJECTS **************************************/
/*******************************************************************************/
/*******************************************************************************/


/*                              END PROJECTS                                   */

/*******************************************************************************/
/*******************************************************************************/
/******************************* PAIEMENT **************************************/
/*******************************************************************************/
/*******************************************************************************/

/*                              END PAIEMENT                                   */



/*******************************************************************************/
/*******************************************************************************/
/*                              RESPONSIVE                                     */
/*******************************************************************************/
/*******************************************************************************/
