
/* MyMoneyHelp */

/****************************GENERAL SETTINGS***********************************/

* {
  box-sizing: border-box;
  font-size: 1em;
  color: #373737;
  /*border: 1px solid black;*/
}

ul {
  list-style: none;
  margin: 0 0;
  padding: 0;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

/* Colors */

/*Dark BLue*/
.button {
  background-color: #0a749c;
}

/*Blue*/
/*{
  color: #0092c9;
}*/

/* Blue Grey*/
.carousel-info {
  background-color: #ecf0f4;
}

/* Green */
/*{
  color: #2da555;
}*/

/* /Colors */

/* Layout */

.flex {
  display: flex;
}

.wrapper {
  margin: 0 1%;
}

/* /Layout */

/*************************** /GENERAL SETTINGS *********************************/


/******************************** HEADER  **************************************/

/******************************* /HEADER  **************************************/



/******************************** SLIDER  **************************************/

/* Layout */

.slider, .carousel-info, .stat{
  flex-direction: column;
}

.carousel-info {
  align-items: center;
  margin-top: 6px;
  box-shadow: 3px 4px 0 #bdbdbd;
}

.slide-text {
  margin: 0 3%;
}

.slide-stats {
  justify-content: space-around;
}


/* /Layout */

/* Slider Typo */
.slider h2 {              /* Slide Title */
  text-align: center;
  margin: .8em .8em;
}

.slide-text p {
  margin-top: 0;
  font-size: .9em;
}

.slide-stats span {         /* Stat Numbers */
  font-weight: bold;
  font-size: .8em;
}

.slide-stats p {          /* Stat text */
  font-size: .65em;
  margin-top: .18em;
}
/* /Slider Typo */

/*Slider pictures*/

.slide-picture {
  display: none;
  max-width: 100%;
}

.active {
  display: block;
}

/* /Slider pictures*/

/* Button Contribute */
.button {
  border: 2px solid #0a749c;
  border-radius: 5px;
  padding: 7px 35px;
  margin: .8em 0;
  color: #fff;
  font-size: .9em;
  font-weight: bold;
  box-shadow: 3px 4px 0 #bdbdbd;

  /* Transition */
  transition-property: color, background-color, box-shadow;
  transition-duration: 800ms;
  transition-timing-function: linear;
  transition-delay: 100ms;

  /* For Safari */
  -webkit-transition-property: color, background-color, box-shadow;
  -webkit-transition-duration: 800ms;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 100ms;
}

.button:hover {
  color: #0a749c;
  background-color: #fff;
  box-shadow: none;
}


/* /Button Contribute */

/******************************* /SLIDER  **************************************/



/******************************** FOOTER  **************************************/

/******************************* /FOOTER  **************************************/


/*******************************************************************************/
/*******************************************************************************/
/******************************* HOMEPAGE **************************************/
/*******************************************************************************/
/*******************************************************************************/


/*                              END HOMEPAGE                                   */

/*******************************************************************************/
/*******************************************************************************/
/******************************* PROJECTS **************************************/
/*******************************************************************************/
/*******************************************************************************/


/*                              END PROJECTS                                   */

/*******************************************************************************/
/*******************************************************************************/
/******************************* PAIEMENT **************************************/
/*******************************************************************************/
/*******************************************************************************/

/*                              END PAIEMENT                                   */



/*******************************************************************************/
/*******************************************************************************/
/*                              RESPONSIVE                                     */
/*******************************************************************************/
/*******************************************************************************/


/*                    Tablets and small Desktop : 768 px                       */

@media screen and (min-width: 768px) {

  /**************************** Slider ****************************************/

  /*Layout*/

  .slider {
    flex-direction: row;
    /*justify-content: space-between;*/
    background: linear-gradient(#ecf0f4, #ecf0f4 92%, #fff 92%);
    background-color: #ecf0f4;

  }

  .carousel {
    max-width: 50%;
    margin: 1em 2.5%;
  }

  .carousel-info {
    margin-top: 2em;
    max-width: 40%;
    background-color: #fff;
  }

  .slide-text {
    margin: 0 5%;
  }

  /* Shadow */
  .slide-picture, .carousel-info {
    box-shadow: 5px 5px 0 #bdbdbd;
  }

}
